<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
       <!-- 扫描controller包下的注解 --> 
	<context:component-scan base-package="cn.appsys.controller"/>
	
	<mvc:annotation-driven>
	 	<mvc:message-converters>
	 	    <!-- StringHttpMessageConverter 解析String类型的controller中的返回值 -->
	 		<bean class="org.springframework.http.converter.StringHttpMessageConverter">
	 			<property name="supportedMediaTypes">
	 				<list>
	 				  <!-- 解决乱码问题 -->
	 					<value>application/json;charset=UTF-8</value>
	 				</list>
	 			</property>
	 		</bean> 
	 		<!-- FastJsonHttpMessageConverter 将controller中方法的返回值解析为json格式字符串 -->
	 		<bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
	 			<property name="supportedMediaTypes">
	 				<list>
	 					<value>text/html;charset=UTF-8</value>
	 					<value>application/json</value>
	 				</list>
	 			</property>
	 			<property name="features">
	 				<list>
	 				 <!--   Date的日期转换器  fastjson解析时间格式返回的是邮戳，配置这个之后时间格式就变成yyyy-MM-dd-->
					  <value>WriteDateUseDateFormat</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>
	<!-- 制定静态文件的路径 -->
	<mvc:resources location="/statics/" mapping="/statics/**"></mvc:resources>
	
	<!-- 配置多视图解析器：允许同样的内容数据呈现不同的view -->
	<bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
		<property name="favorParameter" value="true"/>
		<property name="defaultContentType" value="text/html"/>
		<property name="mediaTypes">
			<map>
			<!-- key url中的后缀 -->
				<entry key="html" value="text/html;charset=UTF-8"/>
				<entry key="json" value="application/json;charset=UTF-8"/>
				<entry key="xml" value="application/xml;charset=UTF-8"/>
			</map>
		</property>
		<property name="viewResolvers">
			<list>
			<!-- jsp试图的解析器 -->
				<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" >
					<property name="prefix" value="/WEB-INF/jsp/"/>
					<property name="suffix" value=".jsp"/>
				</bean>		
			</list>
		</property>
	</bean>
	
	<!-- 配置MultipartResolver，用于上传文件，使用spring的CommonsMultipartResolver -->  
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		 <property name="maxUploadSize" value="5000000"/>
		 <property name="defaultEncoding" value="UTF-8"/>
	</bean>
	
	<!-- 配置拦截器 -->
	<mvc:interceptors>
	     <mvc:interceptor>
	        <!-- 你要拦截哪些请求 -->
	        <mvc:mapping path="/sys/**"/>
	        <!-- 你自己配置的拦截器 -->
            <bean class="cn.smbms.interceptor.SysInterceptor">
            </bean>
	     </mvc:interceptor>
	</mvc:interceptors>
</beans>   